<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Planetary Bodies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="https://cdn.eso.org/images/screen/eso1528c.jpg" style="object-fit: cover"></ion-img>
  <ion-button class="ion-margin" expand="full" fill="outline" color="dark" [routerLink]="['/all-bodies']">All Planetary Bodies</ion-button>
  <ion-button class="ion-margin" expand="full" fill="outline" color="warning" [routerLink]="['/favourites']">Your Favourites</ion-button>
</ion-content>
